<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Bilal Yousuf</title>{% endblock %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'catalog/css/materialize.min.css' %}"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block imports %} {% endblock %}
</head>
<div class="p-3 mb-2 bg-light text-dark">
  <body>

    <div>{% block content %}{% endblock %}
    </div>



<!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>       
  </body>
</div>
</html>