{% extends "home/base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<h1>Bilal Yousuf</h1>
<h3>About Me</h3>
<p>I am an electrical engineering undergraduate student at McGill University (Montreal, Canada) currently in my final year of studies.</p>
<a class="purple darken-2 btn-large" href="{% url 'index1' %}">Home</a><br><br>
<a class="waves-effect waves-light btn-large">Electronics</a><br><br>	
<a class="waves-effect waves-light btn-large" href="{% url 'index' %}">Library</a><br><br>

{% endblock %}