* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
div {
position: relative;

}

html, body, .page {
  background-color: whitesmoke;
  font-family: monospace;
}

h1, h2 {
  font-weight: 600;
  margin-top: 0;
}

body {
  margin: 10px;
  

}

img {
  padding-bottom: 10px
}

.notes {
  font-family: monospace;
}

.notes h2 {
  font-size: 8em;
  font-weight: 900;

}
.note-title {
  font-size: 2em;
  color: darkslategray;
}

.card {
  margin: 10px;
  align-items: center;
}